.speakeralign {
  display: block;
  margin-left: 400px !important;
  margin-right: 400px !important;
}
@media screen and (max-width: 600px) {
  .speakeralign {
    display: block;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
.centraligntest1 {
  text-align: center;
}

.custom-sm-4 {
  padding: 50px;
}
@media screen and (max-width: 600px) {
  .custom-sm-4 {
    padding: 15px;
  }
  section {
    padding: 50px 0px 50px 0px;
  }
  .event-name {
    font-size: 25px;
  }
  .customcaro1 {
    font-size: 16px !important;
  }
  .present {
    font-size: 9px !important;
  }
  .btn-place {
    padding: 6px !important;
    font-size: 10px !important;
  }
  .countdown-amount {
    font-size: 25px;
  }
  .countdown-period {
    font-size: 10px;
  }
}
/* .tp-static-layers{} */
/* #slider-revolution{
    height: 100vh;
} */
/* #section-hero{
    height: 100vh;
}
.rev-slidebg{
    height: 900vh;
} */
.customcaro1 {
  /* background: -webkit-linear-gradient(--primary-color-1,--secondary-color) ;
    -webkit-background-clip: text;
    background-clip:text;
    color: transparent; */
  /* color:rgb(255, 177, 226); */
  color: #f8fdc8;
  /* margin-top: -10px; */
  font-size: 27px;
  letter-spacing: 3px;
}
.contact {
  margin: 0px 0px 30px 0;
  padding: 0 15px 0 15px;
}
.contact-head {
  font-size: 17px;
  /* font-weight: 400; */
}
.present {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  #section-sponsors {
    padding: 50px 0px 0px 0px;
  }
  footer.style-2 {
    padding: 30px 0px 60px 0px;
  }
  .contact {
    width: 360px;
    /* margin: 0px 0px 30px 0px; */
    /* padding:0 15px 0 15px; */
  }
}
/* .present{
    padding-bottom:200px !important ;
} */
.ticket-test {
  /* align-items: center; */
  padding-right: 125px;
  padding-left: 125px;
}
@media screen and (max-width: 600px) {
  .ticket-test {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.invis {
  display: none;
}
.btn-show {
  font-weight: 500;
  font-size: 12px;
  padding: 10px 20px;
  background-color: var(--primary-color-1);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
}

@media screen and (max-width: 600px) {
  .btn-show {
    margin-right: 20%;
    margin-left: 20%;
    padding: 10px 20px 10px 20px;
  }
}

.ticketcenter {
  align-items: center;
  justify-content: center;
}
.tickettext {
  margin-right: 25%;
}

.speakeralign {
  z-index: 1;
  /* display: none; */
}
.comingsoon {
  font-size: 38px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* padding: 20px; */
  height: 100%;
  /* border: 2px solid red; */
  /* position: absolute; */
}

.hidden2 {
  display: none;
}
.btn-position {
  position: relative;
}

@media screen and (max-width: 600px) {
  .tickettext {
    margin: auto;
  }
  .comingsoon {
    font-size: 1.5rem;
  }
  .btn-show {
    margin: auto;
    margin-top: 10px;
    padding: 5px 10px;
  }
}

.invis {
  display: none;
}
/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wm {
    font-size: 150px;
    position: static;
  }

  .wm.dark.wm-border {
    font-size: 150px;
  }
  .custom-sm-4 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 20px;
  }
  .sc-info {
    width: 100% !important;
  }
}
