faqtest {
  overflow-x: hidden;
}

.accordion {
  padding: 4rem;
}

summary {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background: #161617;
  /* border: solid 2px#363637; */
  padding: 1rem 2rem;
}

summary:hover {
  background-color: hsl(278, 50%, 40%);
}

details {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1rem;
  background: 161617;
  border: solid 2px #363637;
  text-align: left;
  word-break: keep-all;
}

details p {
  margin: 0.5rem auto;
  translate: 0.5rem 0;
  width: 95%;
  /* overflow: hidden; */
}

summary > * {
  display: inline;
}
@media screen and (max-width: 600px) {
  details {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  summary {
    padding: 2px 3px;
    width: 100%;
  }
  .accordion {
    padding: 5%;
  }
  details p {
    margin: 0px 0 0 0px;
    translate: 0.5rem 0;
  }
}
